<% if logged_in? %>
  <% unless utilisateur_courant.image.url.nil? %>
    <li style="line-height: 43px; margin-right: 5px">
      <%= image_tag(utilisateur_courant.image.url, size: '24', class: 'profile-image img-circle') %>
    </li>
  <% end %>
  <%= menu_item utilisateur_courant.nom_complet, utilisateur_path(utilisateur_courant) %>
  <%= menu_item 'Déconnexion', log_out_path %>
<% else %>
  <%= menu_item 'Inscription', sign_up_path %>
  <%= menu_item 'Connexion', log_in_path %>
<% end %>
