<div class="row">
  <div class="text-center col-lg-12">
    <h1>Liste d'utilisateurs</h1>
  </div>
</div>

<div class="row">
  <div class="text-center col-lg-12">
    <%= form_tag(liste_utilisateurs_path, :method => 'get', id: 'search-form', class: 'form-inline') do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Rechercher utilisateur', class: 'form-control' %>
      <%= submit_tag "Rechercher", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Adresse</th>
          <th>Rôle</th>
        </tr>
      </thead>
      <tbody>
      <%==  %>
        <% @utilisateurs.each do |utilisateur| %>
          <tr onclick="location.href='<%= utilisateur_path utilisateur %>';">
            <td>
              <% if utilisateur.image? %>
                <%= image_tag(utilisateur.image.url, size: '32', class: 'img-responsive center-block img-circle') %>
              <% end %>
            </td>
            <td><%= utilisateur.nom %></td>
            <td><%= utilisateur.prenom %></td>
            <td><%= utilisateur.mail %></td>

            <% if utilisateur.admin? %>
              <td><%= 'Administrateur' %></td>

            <% elsif utilisateur.pelo? %>
              <td><%= 'Citoyen' %></td>

            <%else%>
              <td><%= 'Élu' %></td>

            <%end%>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
