<div class="well">

  <h4><%= link_to sujet.titre, sujet %></h4>

  <div class="pull-right text-right">
    <span style="font-size: 120%;"><%= pluralize(sujet.nombre_votants, 'vote') %></span>
  </div>

  <p>
    <%= sujet.description_courte %>
  </p>

  <% if sujet.fils.length > 0 %>
    <div>
      Amendements de ce groupe :
      <ul>
        <% sujet.fils.each do |s| %>
          <li><%= link_to s.titre, s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
