<div>
  <p>
    <h3>Résultats</h3>

    <p style="font-size: 200%;">
      <% if @sujet.resultat_votes[:pour] > @sujet.resultat_votes[:contre] %>
        La communauté a voté pour !
      <% elsif @sujet.resultat_votes[:pour] < @sujet.resultat_votes[:contre] %>
        La communauté a voté contre.
      <% elsif @sujet.resultat_votes[:pour] == @sujet.resultat_votes[:contre] %>
        Le vote a obtenu une égalité.
      <% end %>
    </p>

    <ul>
      <li><%= @sujet.resultat_votes[:pour] %> utilisateurs ont voté pour.</li>
      <li><%= @sujet.resultat_votes[:contre] %> utilisateurs ont voté contre.</li>
      <li><%= @sujet.resultat_votes[:blancs] %> utilisateurs ont voté blanc.</li>
    </ul>

  </p>
</div>
