<div>
  <% if @sujet.utilisateurs.exists?(utilisateur_courant) %>

    <div class="text center">
      Vous avez déjà voté pour ce référendum.
    </div>

  <% else %>

    <div class="text-center">
      <% if logged_in? %>

      <input value="Vote pour" type="button" id="vote_pour">
      <input value="Vote contre" type="button" id="vote_contre">
      <input value="Vote blanc" type="button" id="vote_blanc">

      <% else %>
        Vous devez être connecté pour pouvoir voter.
      <% end %>

    </div>

    <script type="text/javascript">
      $("#vote_pour").click(function(){
        envoi_votes(<%= @sujet.id %>, "<%= @modulus %>", "<%= @exponent %>", 1);
      });
      $("#vote_contre").click(function(){
        envoi_votes(<%= @sujet.id %>, "<%= @modulus %>", "<%= @exponent %>", 2);
      });
      $("#vote_blanc").click(function(){
        envoi_votes(<%= @sujet.id %>, "<%= @modulus %>", "<%= @exponent %>", 3);
      });
    </script>

  <% end %>

  <div>
    <div class="bg-info clearfix" style="padding: 15px;">
      Vous pouvez également proposer un amendement à cette idée. Un amendement est une modification de l'idée actuelle, qui vous semble mieux adaptée pour répondre au problème. L'amendement aura son propre vote et son propre fil de commentaire, et se terminera en même temps que le groupe auquel il est associé.
      <div class="pull-right" style="margin: 10px;">
        <%= link_to 'Créer un amendement', { action: :new, parent_id: @sujet.id }, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

</div>
