<%= form_for :delegation, url: delegations_path do |f| %>

  <%= render 'layouts/erreurs', erreurs: @delegation.errors %>
  <div class="form-group">
    <%= f.label :receveur_id %>
    <%= f.select :receveur_id, utilisateurs_delegables.collect{|u| [u.nom_complet, u.id]}, {},
                 class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label 'Catégorie' %>
    <%= f.select :categorie_id, categories_delegables.pluck(:nom, :id), {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= link_to 'Retour', {controller: :utilisateurs, id: utilisateur_courant, action: :show},
                  class: 'btn btn-default btn-lg' %>
    <%= f.submit 'Déléguer', class: 'btn btn-primary btn-lg'%>
  </div>
<% end %>

