.graphe {
  background-color: #eee;
}

.node_group {
  stroke: white;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node_group:hover {
  fill: black;
}

.node_text {
  fill: white;
}

.link {
  stroke: #999;
  stroke-width: 3px;
}
