// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nuage_mots_conteneur {
  height: 100%;
}

#nuage_mots {
  height: 100%;
  width: 100%;
}
