<h2>Modification des catégories</h2>
<p align="center">
<table>
  <thead>
  <tr>
    <td>
      Catégorie
    </td>
    <td>
      Actions
    </td>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |categorie| %>
      <tr>
        <td>
          <%= categorie.nom %>
        </td>
        <td>
          <%= link_to 'Supprimer', categories_path(categorie), method: :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<%= form_for :categorie do |f| %>
    <p>
      <%= f.label :nom, 'Nouvelle catégorie' %>
    </p>
    <p>
      <%= f.text_field :nom %>
    </p>
    <p>
      <%= f.submit 'Valider', class: 'btn-custom' %>
    </p>
<% end %>