<div class="well">

  <h4><%= link_to groupe.titre, groupe %></h4>

  <div class="pull-right text-right">
    <span style="font-size: 120%;"><%= pluralize(groupe.votes_total, 'vote') %></span><br>
    Terminé le <strong><%= l groupe.date_fin, format: :short %></strong>
  </div>

  <p>
    <%= groupe.description_courte %>
  </p>
  <div>
    Référendums de ce groupe :
    <ul>
      <% groupe.sujets.each do |s| %>
        <li>
          <%= link_to s.titre, s %>
          <% if groupe.termine? %>
            (<span style="color: green;"><%= s.resultat_votes[:pour] %>+</span>, <%= s.resultat_votes[:blancs] %>~, <span style="color: red;"><%= s.resultat_votes[:contre] %>-</span>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
