<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Projets ouverts au vote</h1>
    <div class="text-center">
      <%= form_tag(voter_path, method: 'get', id: 'search-form', class: 'form-inline') do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: 'Recherche...', class: 'form-control' %>
            <%= submit_tag 'Rechercher', class: 'btn btn-default' %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <% if logged_in? %>
      <%= link_to 'Proposer un nouveau projet', proposer_path, class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= link_to 'Connectez vous pour proposer un projet', log_in_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>

<!-- Liste des référendums -->
<div class="row">

  <div class="col-lg-6">
    <h3>Projets institutionnels</h3>
    <% @groupes_institutionnels.each do |groupe| %>
      <%= render groupe %>
    <% end %>
  </div>


  <div class="col-lg-6">
    <h3>Projets citoyens</h3>
    <% @groupes_pelos.each do |groupe| %>
      <% render groupe %>
    <% end %>
  </div>

</div>
