<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1 class="text-center">Mes projets</h1>

<div class="row">
  <div class="col-lg-12 text-center">
    <%= form_tag(voter_path, :method => "get", id: "search-form", class: 'form-inline') do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Recherche...', class: 'form-control' %>
      <%= submit_tag 'Rechercher', class: 'btn btn-default' %></p>
    <% end %>
    <%= link_to 'Proposer un nouveau projet', proposer_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <h2>Projets en cours</h2>

    <table class="table table-hover">

      <thead>
        <tr>
          <th>Projet</th>
          <th>Nombre de Votants</th>
          <th>Ouverture</th>
          <th>Fermeture</th>
        </tr>
      </thead>

      <tbody>
        <% @en_cours.each do |groupe| %>
          <tr onclick="location.href='<%= groupe_path groupe %>';">
            <td><%= link_to groupe.titre, groupe %></td>
            <td><%= groupe.votes_total %></td>
            <td><%= l groupe.date_debut, format: :long %></td>
            <td><%= l groupe.date_fin, format: :long %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h2>Projets terminés</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Projet</th>
          <th>Nombre de votants</th>
          <th>Fermeture</th>
          <th>Résultat</th>
        </tr>
      </thead>

      <tbody>
        <% @termines.each do |groupe| %>
          <tr onclick="location.href='<%= groupe_path groupe %>';">
            <td><%= link_to groupe.titre, groupe %></td>
            <td><%= groupe.votes_total %></td>
            <td><%= l groupe.date_fin, format: :long %></td>
            <td>
              <% if groupe.victoire? %>
                <span style="color: green;">Accepté</span>
              <% else %>
                <span style="color: red;">Rejeté</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
