<div class="row">
  <div class="col-lg-12 text-center">
    <h2>Créer un nouveau projet</h2>
  </div>
</div>

<% unless @groupe.errors.empty? && @sujet.errors.empty? %>
  <div class="row">
    <div class="col-lg-12">
      <%= render 'layouts/erreurs', erreurs: @groupe.errors%>
      <%= render 'layouts/erreurs', erreurs: @sujet.errors%>
    </div>
  </div>
<% end %>

<%= form_for(@groupe) do |f| %>

  <div class="form-group">
    <%= f.label :titre %>
    <%= f.text_field :titre, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label :sujet, :description %>
    <%= text_area :sujet, :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :categorie_principale_id, 'Catégorie principale' %>
    <%= f.select :categorie_principale_id, Categorie.all.pluck(:nom, :id), {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :categorie_secondaire_id, 'Catégorie secondaire (optionnelle)' %>
    <%= f.select :categorie_secondaire_id, [['Aucune', nil]] + Categorie.all.pluck(:nom, :id), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date_debut, 'Date de début' %><br>
    <%= f.datetime_select :date_debut,
      use_two_digit_numbers: true,
      date_separator: ' / ',
      start_year: Date.today.year,
      default: Time.now
    %>
  </div>

  <div class="form-group">
    <%= f.label :date_fin, 'Date de fin' %><br>
    <%= f.datetime_select :date_fin,
      use_two_digit_numbers: true,
      date_separator: ' / ',
      start_year: Date.today.year,
      default: 7.days.from_now
    %>
  </div>

  <%= f.submit 'Publier', class: 'btn btn-primary btn-lg' %>

<% end %>
