<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <div class="col-lg-12 text-center">
    <h1><%= @groupe.titre %></h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6">

    <h2>Informations</h2>

    <div>

      <dl>
        <dt>Catégorie principale</dt>
        <dd><%= @groupe.categorie_principale.nom %></dd>

        <dt>Catégorie secondaire</dt>
        <dd>
          <% if @groupe.categorie_secondaire.nil? %>
            <i>Aucune</i>
          <% else %>
            <%= @groupe.categorie_secondaire.nom %>
          <% end %>
        </dd>

        <dt>Vote ouvert jusqu'au</dt>
        <dd><%= @groupe.date_fin.strftime("%d/%m/%Y à %Hh%M") %></dd>
      </dl>

      <p style="font-size: 150%;">
        <% if @groupe.termine? %>
          Vote terminé !
        <% else %>
          Il reste <%= @groupe.temps_restant_str %> avant la fin du vote.
        <% end %>
      </p>

    </div>

    <% @groupe.sujets.each do |sujet| %>
      <%= render sujet %>
    <% end %>

  </div>

  <div class="col-lg-6 text-center">
    <h2>Idéosphère</h2>

    <% if @groupe.sujets.length > 1 %>
      <div id="graphe">
      </div>
      <script type="text/javascript">
        graphe("#graphe");
      </script>
    <% else %>
      Désolé ! Il faut au moins un amendement pour voir l'idéosphère.
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <%= link_to 'Retour à la liste des projets', groupes_path, class: 'btn btn-default' %>
  </div>
</div>
