<!DOCTYPE html>
<html>
  <head>
    <title>Yodleur</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= yield :head %>

  </head>

  <body>

    <header>

      <!-- Menu  -->
      <%= nav_bar static: :top, brand: 'Yodleur', responsive: true do  %>
        <div class="container-fluid">
          <%= menu_group do %>

            <% if logged_in? %>
              <%= menu_item 'Mes projets', '/mes_projets' %>
            <% end %>

            <%= menu_item 'Voter', '/voter' %>
            <%= menu_item 'Résultats', '/resultats' %>

            <% if logged_in? %>
              <%= menu_item 'Liste des utilisateurs', '/liste_utilisateurs' %>
            <% end %>

            <% if admin? %>
              <%= menu_item 'Admin', admin_path %>
            <% end %>

            <%= menu_item 'A propos', '/a_propos' %>

          <% end %>

  	      <%= menu_group pull: :right do %>
            <%= render 'sessions/connexion' %>
  	      <% end %>
        </div>

      <% end  %>

    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="text-center">
      <hr>
      <i>
        Pic de Ballmer & Contributeurs
      </i>
    </footer>

  </body>

</html>
